<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/highlight.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="alternative" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <script>
        (function () {
            if(window.navigator && typeof window._scb !== 'undefined') {
                let _scbSrc = 'https://staging.devme.io/';
                let _scbSrcAlias = 'http://10.0.45.62/projects/sites/devme/environments/staging';
                let _remap = {
                    'ORIG': 'https://blog.devme.io/',
                    'PROD': 'https://devme.io/',
                    'STAG': 'https://staging.devme.io/',
                    'RESPECT_REDIRECTIONS': false
                }
            }
        })
    </script>
</head>
