<footer>
    <hr>
    <p>
        <strong>About the author</strong><br />
        Michael is a full stack web developer who has been programming for over 10 years, and currently holds a full time job. On the side runs this blog, and manages servers for small local businesses. For updates, you can find him on <a href="https://github.com/michaelgv">Github</a>
    </p>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/blog.html">
                Posts
            </a>
        </li>
    </ul>
</footer>